@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --brown: #C9BD88;
    --light-color: #7D7C7A;
    --dark-color: #5B5B5B;
    --hover: rgba(17,17,17,.85);
    --box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
}
* {
    font-family: 'Poppins', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    border: none;
    transition: all .2s linear;
    color: var(--dark-color);
}
body {
    background-color: #e7e7e7;
}

/* header section starts */

header {
    position: fixed;
    top: 0; left: 0; right: 0;
    background: #fff;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: var(--box-shadow);
    text-align: center;
}
header .logo-icon {
    display: flex;
    justify-content: flex-start;
}
header .display-desktop {
    display: none;
    margin: auto;
}
header .logo-icon:hover, header .icon-name:hover {
    cursor: pointer;
}
.fa-bars {
    font-size: 2rem;
}
.icon-user, .user-image-header {
    cursor: pointer;
    margin-left: .5rem;
    height: 4rem;
    line-height: 4rem;
    width: 4rem;
    text-align: center;
    font-size: 1.5rem;
    border-radius: 50%;
    background-color: #fff !important;
}
header nav.user-menu {
    position: absolute;
    top: 7.7rem; right: -100%;
    padding: 1rem;
    background-color: #fff;
    width: 85%;
}
header nav ul li .side-menu-option {
    display: flex;
    align-items: center;
    padding: 1rem;
}
.active-navBar {
    right: 0;
}

/* header section ends */

/* login and register section starts */

.main-container {
    margin-top: 50%;
}
main .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: var(--light-color);
    width: 80%;
    margin: auto;
    padding: 2rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
}
label {
    color: #fff;
    font-size: 1.1rem;
}
input {
    border-radius: .3rem;
    padding: .3rem;
    width: 90%;
    margin-top: 1%;
    margin-bottom: 3%;
    font-size: .5rem;
}
main form #login-button, main form #register-button {
    width: 35px;
    height: 25px;
    border-radius: 0.3rem;
}
main form #login-button:hover, main form #register-button:hover {
    background-color: #292929;
    
}
main form #login-button:hover svg path, main form #register-button:hover svg path {
    color: #fff;
}
.is-invalid {
    border-color: #dc3545;
    padding-right: calc(1.5em + .75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(.375em + .1875rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}
.text-danger {
    color: #ED1B24;
    font-style: italic;
    font-size: 14px;
    margin-top: -2%;
    margin-bottom: 3%;
}

/* login and register section ends */

/* Account user starts */
body main {
    display: flex;
    flex-direction: column;
    margin: 10rem auto;
}
.align-image-user {
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-image {
    border-radius: 100%;
    width: 80px;
    height: 80px;
}
.align-titles {
    text-align: center;
}
.flex-options-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.box-space1, .box-space2 {
    margin-top: 5%;
    background-color: var(--light-color);
    padding: 1.5rem;
    border-radius: .5rem;
    width: 90%;
}
main div.flex-options-container section.box-space1 ul.data-form li a, main div.flex-options-container section.box-space2 ul.data-form li a{
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: flex-start;
}
main div.flex-options-container section.box-space1 ul.data-form li a svg, main div.flex-options-container section.box-space2 ul.data-form li a svg {
    margin: 0 .3rem;
}
main div.flex-options-container section.box-space1 ul.data-form li a h2, main div.flex-options-container section.box-space1 ul.data-form li svg path {
    color: #fff;
}
main div.flex-options-container section.box-space2 ul.data-form li a h2, main div.flex-options-container section.box-space2 ul.data-form li svg path {
    color: #fff;
}

/* Account user ends */

/* media queries */

@media (min-width: 768px) {
    .main-container {
        margin-top: 25%;
    }
}

@media (min-width: 1024px) {
    header .display-mobile {
        display: none;
    }
    header .display-desktop {
        display: block;
    }
    header .logo-name {
        width: 100%;
        text-align: left;
    }
    main .login-form {
        width: 50%;
    }
    main form #login-button, main form #register-button  {
        width: 65px;
        height: 40px;
        font-size: 1.3rem;
    }
    .flex-options-container {
        flex-direction: row;
    }
}

@media (min-width: 1440px) {
    .main-container {
        margin-top: 15%;
    }
    main .login-form {
        width: 40%;
    }
    label {
        font-size: 1.4rem;
    }
    input {
        font-size: 1rem;
    }
}